[Unit]
Description={{description}}

[Service]
Type=notify
ExecStart={{install.dir}}/bin/{{unit}}
TimeoutStartSec=20
StandardOutput=syslog
User=nobody
Group=nobody

[Install]
WantedBy=multi-user.target
